/*reset*/

* {
    font-family: 'Arvo', serif;
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
}

body {
    position: absolute;
    height: 100%;
    width: 100%;
}

#main {
    background-image: linear-gradient(to top, #000000, #0c0c0c, #1A237E);
    height: 100%;
    width: 100%;
    position: absolute;
}

a {
    display: flex;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style: none;
}

h1 {
    font-size: 120%;
    color: #ffffff;
    text-align: center;
    width: 100%;
}

h2 {
    font-size: 80%;
    color: #979797;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 3% 4%;
    width: 100%;
    height: 15%
}

/*color: #62aec5*/

.btmenu {
    color: #ffffff;
    cursor: pointer;
    background: none;
    justify-content: flex-start;
}

.controlb, .controla {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    align-items: center;
}

#btop, #playpausebtn, #library, #btloop, #btshuffle, #btnext, #btskip {
    color: #ffffff;
    background: none;
    cursor: pointer;
}


.album {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 55%;
}

.info {
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    align-items: center;
}

#audiotime {
    display: flex;
    justify-content: space-around;
    margin: 1%;
    align-items: center;
}

#timebar {
    width: 100%;
    justify-content: center;
    display: flex;
}

.timebar {
    height: 5px;
    width: 50%;
    background: #212121;
    border-radius: 14px;
	
}

#time {
    display: block;
    height: 5px;
    width: 0%;
    border-radius: 10px;
    background-color: #cac6c6;
    position: relative;
    overflow: hidden;
    transition: width .1s linear;
  }

#timeend, #timestart {
    margin: 0%;
    border: none;
    color: #bdbdbd;
}

#btop:hover {
    color: #757575;
}

#playpausebtn:hover {
    color: #757575;
}

#btloop:hover {
    color: #757575;
}

#btshuffle:hover {
    color: #757575;
}

#btnext:hover {
    color: #757575;
}

#btskip:hover {
    color: #757575;
}



